* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

$color1: #ffffff;
$color2: #c70fff;

.modalBuy, .lesson {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99999;
  overflow: auto;

  .modalBuyContent {
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    margin-bottom: 50px;
    width: 90%;
    height: 98vh;
    top: 8px;
    overflow-y: auto;

    .close {
      cursor: pointer;
      position: absolute;
      align-self: flex-end;
      font-size: 30px;
      color: #7e7d7d;

      @media (max-width: 500px) {
        font-size: 22px;
        color: rgb(126, 125, 125);
      }
    }

    .logo {
      width: 60%;
    }

    .switcher {
      width: 100%;
      color: rgb(109, 109, 109);
      .subscribe {
        width: 100%;
        height: 40px;
        background: rgba(128, 128, 128, 0.144);
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-right: 10px;
      }

      .radio {
        margin: 0.5rem;
        input[type="radio"] {
          position: absolute;
          opacity: 0;
          + .radioLabel {
            &:before {
              content: '';
              background: $color1;
              border-radius: 100%;
              display: inline-block;
              width: 1em;
              height: 1em;
              margin-top: 4px;
              position: relative;
              margin-right: 1em;
              vertical-align: top;
              cursor: pointer;
              text-align: center;
              transition: all 250ms ease;
            }
          }
          &:checked {
            + .radioLabel {
              &:before {
                background-color: $color2;
                box-shadow: inset 0 0 0 4px $color1;
              }
            }
          }
          &:focus {
            + .radioLabel {
              &:before {
                outline: none;
                border-color: $color2;
              }
            }
          }
          &:disabled {
            + .radioLabel {
              &:before {
                box-shadow: inset 0 0 0 4px $color1;
                border-color: darken($color1, 25%);
                background: darken($color1, 25%);
              }
            }
          }
          + .radioLabel {
            &:empty {
              &:before {
                margin-right: 0;
              }
            }
          }
        }
      }
    }

    .listen {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    h4 {
      font-weight: 500;
      font-size: 11px;
      margin-bottom: 10px;

      @media (max-width: 320px) {
        font-size: 11px;
      }
    }

    ul {
      margin-bottom: 0;
    }

    p {
      margin-bottom: 0.5em;
      font-size: 10px;
      width: 100%;
    }

    li {
      font-size: 12px;
      margin-bottom: 10px;
      margin-left: 15px;
    }

    button {
      width: 100%;
      height: 50px;
      border: none;
      outline: none;
      color: white;
      font-size: 1rem;
      background: linear-gradient(90deg, #FA00FF 0%, #7C00B7 100%);
      border-radius: 48px;
      margin-bottom: 10px;

    }

    span {
      font-size: 13px;
      text-decoration: underline;
      color: rgba(116, 116, 116, 0.521);
    }

    .lastPosition {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.lesson {
  height: 50vh;
}
