.formWrapper {
  margin-top: 50px !important;
}
.rootWrapper {
  margin-top: 30px;
  width: 40%;
}
.input {
  width: 100% !important;
}

.text {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: large;
  font-size: 18px;
  letter-spacing: 0.2rem;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 756px) {
  .formWrapper {
    margin-top: 20px !important;
  }
  .rootWrapper {
    width: 90%;
  }
  .text {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: large;
    font-size: 14px;
    letter-spacing: 0.2rem;
    font-weight: 500;
  }
}
